html,body {
  /* Extra Styles */
 
  color: #000000;
  font-family: avenir, 'Helvetica', sans-serif;
}

@-webkit-keyframes move {
  0% { 
    background-position: 0 60%, 0 50%;
  }
  100% { 
    background-position: 0 60%, 100% 50%;
  }
}

.container2 {
  background-image: url("../Robo.jpg");
  /*background-color: #263645;*/
  /*background-image: url('http://timteeling.com/dev/img/network.svg'), radial-gradient(400px 900px at center, #ff8300 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));*/
  background-size: 125%, 50% 100%;
  background-position: 0 60%, 0 100%;
  -webkit-animation: move 5s linear infinite;
  
  /* Extra Styles */
  height: 705px;
  /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
  border: 2px solid #263645;
  border-right: 0;
  border-left: 0;
  margin:0 auto;
  color: #000000;
}


/* Extra Styles */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
}

p {
  text-align: center;
  font-size: .75em;
}

a {
  color: #ff8300;
}
.site__title {
  margin-top: 15%;
  color: #000000;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}
.mega {
  font-size: 10rem;
  line-height: 1;
}
h1{
 color: #000000;
margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}
.light {
    font-weight: 400;
}
.about{
  background-image: url("../swordfish.jpg");
   -webkit-background-size: cover; 
  color: #000000;
  height: 300px;
  width:33%;
  display: inline-block;
} 
.nav-background{
  background-image: url("../Robo.jpg");
  opacity: .8;
  color: #000000;
  -webkit-background-size:cover;
}
.nav-font{
    font-family: avenir, 'Helvetica', sans-serif;

}
.smallh3{
    color: #000000;

}
.contact{
   background-image: url("../whale.jpg");
   -webkit-background-size: cover; 
  color: #000000;
  height: 300px;
  width:34%;
  display: inline-block;
}
.projects{
   background-image: url("../catfish.jpg");
   -webkit-background-size: cover; 
  color: #000000;
  height: 300px;
  width:33%;
  display: inline-block;
}
.wrapper{
  width: 100%;
  display: inline-block;
  height: 300px;
}
.aboutwords{
  background-image: url("../blackback.jpg");
  width: 31%;
  height:10%;
  white-space: nowrap;
  color: white;
  font-family: avenir, 'Helvetica', sans-serif;
}
.aboutwords:hover{
  background-image: url("../blackback");
  height: 269px;
  width: 410px;
  opacity: .8;
}
.contactwords{
  background-image: url("../blackback.jpg");
  width: 25%;
  height:10%;
  white-space: nowrap;
  color: white;
  font-family: avenir, 'Helvetica', sans-serif;
}
.projectwords{
  background-image: url("../blackback.jpg");
  width: 26%;
  height:10%;
  white-space: nowrap;
  color: white;
  font-family: avenir, 'Helvetica', sans-serif;
}